object/src/main/mule/object.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:os="http://www.mulesoft.org/schema/mule/os"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/os http://www.mulesoft.org/schema/mule/os/current/mule-os.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="22675f22-5a49-4650-b06f-e57a7e4b7266" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<os:object-store name="Object_store" doc:name="Object store" doc:id="478c3d4d-a501-4e62-a316-39e3c7eeaaf9" />
	<flow name="objectFlow" doc:id="ab61c47a-848b-4522-b19b-a589016c1cc1" initialState="stopped">
		<http:listener doc:name="Listener" doc:id="7c0eae8f-7246-4376-af30-444b72eb90ea" path="ob" config-ref="HTTP_Listener_config"/>
		<set-variable value="#[attributes.queryParams.name]" doc:name="Set Variable" doc:id="2e696286-fdd3-4a42-bf73-5c899e59cc7e" variableName="name"/>
		<set-variable value="#[attributes.queryParams.id]" doc:name="Set Variable" doc:id="a6addae0-13a6-4f02-812a-d971e539a825" variableName="id"/>
		<os:store doc:name="Store" doc:id="054f199c-e989-4d2f-a605-fd76cb67866e" key="vars.name" objectStore="Object_store">
			<os:value ><![CDATA[#[vars.id]]]></os:value>
		</os:store>
		<logger level="INFO" doc:name="Logger" doc:id="15f01720-6a96-472c-b86a-c7fb70c6e132" message="#[payload]"/>
	</flow>
	<flow name="objectFlow1" doc:id="1e01d296-8807-4bf4-91e8-9491b4150b9b" >
		<http:listener doc:name="Listener" doc:id="f301909f-f5b9-4be7-93fc-b257ba654f2b" config-ref="HTTP_Listener_config" path="retriveall"/>
		<os:retrieve-all doc:name="Retrieve all" doc:id="7f554415-360a-4dc0-b9c4-5c395d597e81" objectStore="Object_store"/>
	</flow>
	<flow name="objectFlow2" doc:id="a1b5c1ac-24b4-40a6-9e71-638862bf3d1c" >
		<http:listener doc:name="Listener" doc:id="bf7fb092-79b5-4fec-8cf5-cf1f0b5b81e7" config-ref="HTTP_Listener_config" path="retrive"/>
		<os:retrieve doc:name="Retrieve" doc:id="1473a3de-034c-4ff5-ba6c-3ec8bb1ed20c" objectStore="Object_store" key="#[attributes.queryParams.name]"/>
	</flow>
	<flow name="objectFlow3" doc:id="ad5ae8da-0f28-4496-a79f-da4912f15f0d" >
		<http:listener doc:name="Listener" doc:id="7fda1193-8b15-4bc6-a058-8399b2098815" config-ref="HTTP_Listener_config" path="allkey"/>
		<os:retrieve-all-keys doc:name="Retrieve all keys" doc:id="e5bbbe40-2a71-4c4c-9e4a-118425704590" objectStore="Object_store"/>
	</flow>
	<flow name="objectFlow4" doc:id="e6f4649a-777d-4805-a5da-daec6909c7a7" >
		<http:listener doc:name="Listener" doc:id="4887d1f9-67d6-4b39-aa21-7eb5b796e676" config-ref="HTTP_Listener_config" path="contains"/>
		<os:contains doc:name="Contains" doc:id="8124a56e-dd14-45ae-87f5-bb56e63e1847" key="#[attributes.queryParams.name]" objectStore="Object_store"/>
		<ee:transform doc:name="Transform Message" doc:id="480d0bf6-94ba-446d-8440-877631da6668" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="objectFlow5" doc:id="f683d2d0-a595-4619-9f93-6769ccc6b892" >
		<http:listener doc:name="Listener" doc:id="02f1ef22-da99-43cb-b5d1-426968429fb1" config-ref="HTTP_Listener_config" path="remove"/>
		<os:remove doc:name="Remove" doc:id="922d4a0d-104c-4adc-a300-febf4ba14805" key="#[attributes.queryParams.name]" objectStore="Object_store"/>
	</flow>
	<flow name="objectFlow6" doc:id="28f311ae-9988-412e-9c07-714bd44c72c9" >
		<http:listener doc:name="Listener" doc:id="79141a12-47c2-44e6-bdcc-8f7dff689fce" config-ref="HTTP_Listener_config" path="clear"/>
		<os:clear doc:name="Clear" doc:id="f300c269-fe3c-42a4-979a-478e58870239" objectStore="Object_store"/>
	</flow>
</mule>
